<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Consulta Médica</title>
</head>

<body>
    <div class="container">
        <h2>Tratamientos</h2>


        <!-- aqui es la nueva tabla que se estata  -->
        <section class="">

            <div
                class=" bg-white mt-10 rounded-xl px-10  py-4 flex items-center gap-x-3 text-sm font-semibold  text-gray-600">
                <div class="flex-1 text-center">Nombre Procedimiento</div>
                <div class="flex-1 text-center ">Precio</div>
                <div class="flex-1 text-center ">Cantidad</div>
            </div>

            <div class="bg-white mt-5 rounded-xl text-sm  text-gray-500 divide-y divide-indigo-50 overflow-x-auto  shadow"
                style="overflow-y: scroll; height: 500px;">

                <div class="flex items-center gap-x-3 px-10 py-4" *ngFor="let inv of inventario; let i = index">
                    <div class="flex-table text-center ">{{ inv.nomProc }}</div>
                    <div class="flex-table text-center">{{ inv.precio }}</div>
                    <div class="flex-table text-center">
                        <button class="hidden sm:inline-block" (click)="restar(i)">-</button>
                        <input type="text" class="cantidad" id="cantidad{{i}}" maxlength="9"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <button class="hidden sm:inline-block" (click)="sumar(i)">+</button>
                    </div>


                </div>

            </div>
        </section>

        <button class="hidden sm:inline-block" (click)="regresar()">Regresar</button>

    </div>
</body>




</html>